<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue with CDN</title>
</head>
<body>
    <div id="app">

        <div>
            <h1>List</h1>
            
            <table class="table-fixed mt-20">
                <thead>
                <tr>
                    <th>Fruit</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in Basket">
                    <td class="px-8 py-2">{{item.label}}</td>
                    <td class="px-8 py-2">{{item.cost}}</td>
                </tr>
                <tr>
                    <td class="px-8 py-2">Total</td>
                    <td class="px-8 py-2">{{ sum }}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div>
            <h1>Click to see your favorite color !</h1>
            <input 
            type="button" 
            value="Click !"
            @click="showColor">
        </div>

        <div>
            <h1>Change color value !</h1>
            <input 
            type="text"
            placeholder="color"
            v-model="favColor"
            @keyup.enter="changeColor">
        </div>
    
    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   
   <script>
    
    const mart = new Vue({
        el : '#app',
        
        data: {

            favColor: "",

            Basket: [
            {
                label: 'Apples',
                cost: 10,
                url: '/apples.html'
            },
            {
                label: 'Bananas',
                cost: 8,
                url: '/bananas.html'
            },
            {
                label: 'Coconuts',
                cost: 12,
                url: '/coconuts.html'
            }
        ]
        
    },

        computed: {

            sum() {
                
                let total = 0

                this.Basket.forEach(item => {

                    total += item.cost
                    
                });

                return total

            }

        },

        methods: {

            changeColor(){
                alert(this.favColor)
            },

            showColor(){
                alert(this.favColor)
            }
        }
    });
    
    </script>
</body>
</html>